* {
    margin: 0x;
    padding: 0;
    box-sizing: border-box;
}




.listes {
    position: relative;
    right: 40px;

    .list {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: start;
        gap: 15px;
        span {
            color: #ADB3CC;
            text-align: center;
            align-items: center;
            padding-top: 18px;
        }
    }

    img {
        width: 30px;
        height: 30px;
    }
}