* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 170vh;
	background: linear-gradient(0deg, #171B2D, #171B2D),
	linear-gradient(0deg, #262835, #262835);	
}

.lele {
	display: flex;
}